button:disabled {
  background-color: black;
  color: white;
  border: 2px dashed grey;
}

.some-button {
  background-color: orange;
  color: green;
}

.anchor:hover {
  border: 3px solid red;
  font-size: 24px;
}

.search:hover{ 
  background-color: gray;
  color: white;
}

.search:focus {
  background-color: orange;
}

.confirm-checkbox:checked {
  margin-left: 16px;
}