     .list {
            font-size: 2em;
            list-style-type: none;
            line-height: 40px;

        }

        .first {
            text-decoration: red underline;
            text-decoration-style: wavy;
        }

        .second {
            text-decoration: line-through;
        }

        .third {
            text-decoration: overline;
        }
