* {
  background-color: antiquewhite;
}

.div {
  border: 8px solid black;
height: 128px;
width: 512px;
margin: 16px;
padding: 16px;
}


.div1 {
  box-sizing: content-box;
  background-color: aquamarine;
}

.div2 {
box-sizing: border-box;
background-color: azure;
}

